@import "./SweetWordHeader/style.scss";
@import "./WordMap/style.scss";
@import "./SweetWordResult/style.scss";
.sweet-word {
  @include full-view;
  @include flex-center;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    rgba($color-pink-2, 0.4),
    rgba($color-pink-1, 1)
  );
  user-select: none;
  font-family: "SJ";

  .footer-box {
    display: flex;
    position: fixed;
    bottom: 3rem;
    left: 0;
    width: 100%;
    color: white;
    opacity: 0;
    transition: opacity 0.4s;
    visibility: hidden;
    &.active {
      opacity: 1;
      visibility: visible;
    }

    .iconfont {
      @include flex-center;
      will-change: transform;
      width: 4rem;
      height: 4rem;
      padding: 0.5rem;
      border-radius: 50%;
      background-color: rgba(black, 0.6);
      box-shadow: 0 0 1rem rgba(black, 0.2);
      transition: transform 0.4s;
      cursor: pointer;
      &:active {
        transform: scale(0.94);
      }
      &:first-child {
        margin: 0 3rem;
      }
      &:before {
        font-size: 3rem;
      }
    }
  }
}
