.mini-timer {
  background-color: black;
  width: 100vw;
  height: 100vh;
  @include flex-center;
  color: $color-white;
  font-family: "Droid Sans Mono", monospace, serif;
}
.timer-box {
  height: 20rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  .timer-text {
    font-size: 8rem;
    margin-bottom: 1rem;
    user-select: none;
  }
  .timer-btn {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 4rem;
    width: 26rem;
    height: 6rem;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    border: 1px solid;
    user-select: none;

    &:active {
      transition: all 0.3s;
      transform: scale(0.99) !important;
    }
  }
}
