*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: "SJ";
  src: url("../../assets/font/FZSJSJW.TTF");
}
