$color-white: #fff;
$color-black: #000;

$color-grey-1: #ccc;
$color-grey-2: #606c88;
$color-grey-3: #3f4c6b;

$color-pink-1: #ffe3f2;
$color-pink-2: #fd79a8;
$color-pink-3: #fc427b;

$color-dark-1: #141414;
$color-dark-2: #344a53;

$color-primary-1: #e67e22;
$color-primary-2: #606c88;
$color-primary-3: #478dae;
$color-primary-4: #2c2c54;
$color-primary-5: #60a3bc;
$color-primary-6: #256f87;
$color-primary-7: #ffe9cf;
$color-primary-8: #313337;
$color-primary-9: #196127;
